<mat-toolbar>
  <span>{{ algorithm().name }}</span>
</mat-toolbar>
<form class="config-panel" [formGroup]="problemConfig" (keydown.enter)="$event.preventDefault()">
  <table>
    <tr>
      <td><mat-form-field>
        <mat-label>X</mat-label>
        <input matInput type="number" formControlName="x" />
      </mat-form-field></td>
      <td><mat-form-field>
        <mat-label>Y</mat-label>
        <input matInput type="number" formControlName="y" />
      </mat-form-field></td>
      <td><mat-form-field>
        <mat-label>Blocker</mat-label>
        <input matInput type="number" formControlName="blockers" />
      </mat-form-field></td>
      <td>
        <button mat-raised-button (click)="newProblem()">Generate</button>
        <button mat-raised-button (click)="run()">Run</button>
      </td>
    </tr>
  </table>
</form>
<app-discrete-problem></app-discrete-problem>
