table.maze {
  border-collapse: collapse;
}

table.maze td {
  width: 12px;
  height: 12px;
}

td.unknown {
  background-color: grey;
}

td.wall-north {
  border-top: 2px solid black;
}

td.wall-east {
  border-right: 2px solid black;
}

td.wall-south {
  border-bottom: 2px solid black;
}

td.wall-west {
  border-left: 2px solid black;
}


